Flask==2.2.5
Flask-JWT-Extended==4.4.4
flask
flask-cors
python-dotenv==0.21.0
flask-jwt-extended
pymongo==4.3.3
marshmallow==3.19.0
bcrypt==4.3.0
pandas==1.5.3
matplotlib==3.7.1
reportlab==3.6.12
pyasn1==0.6.1
gunicorn==20.1.0
Werkzeug>=2.2.0,<2.3.0
pydantic==1.10.14
requests==2.31.0
Pillow==10.0.0
openpyxl==3.1.2
numpy==1.23.5
qrcode==7.4.2
