# Core dependencies
Flask==2.2.5
Werkzeug==2.2.3
python-dotenv==0.21.0

# Database
pymongo[srv]==4.5.0  # Versión compatible con Python 3.12

# Utils
requests==2.31.0

# Force using only pre-built wheels to avoid compilation
--only-binary :all:
